$screen-xs-max: 575px;
$screen-sm-min: 576px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 1023px;
$screen-lg-min: 1024px;
$screen-lg-max: 1440px;
$screen-xl-min: 1441px;
$screen-xl-max: 1920px;

@mixin xs-max {
    @media screen and (max-width: #{$screen-xs-max}) {
        @content;
    }
}

@mixin sm-min {
    @media screen and (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin sm-max {
    @media screen and (max-width: #{$screen-sm-max}) {
        @content;
    }
}

@mixin md-min {
    @media screen and (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin md-max {
    @media screen and (max-width: #{$screen-md-max}) {
        @content;
    }
}

@mixin lg-min {
    @media screen and (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin lg-max {
    @media screen and (max-width: #{$screen-lg-max}) {
        @content;
    }
}

@mixin xl-min {
    @media screen and (min-width: #{$screen-xl-min}) {
        @content;
    }
}

@mixin xl-max {
    @media screen and (max-width: #{$screen-xl-max}) {
        @content;
    }
}
