.contacts {
  &__container {
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }
}

.contacts-info {
  margin-left: 8.33333%;
  display: flex;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    height: 250px;
  }
  &__title {
    font-size: 110px;
    line-height: 0.6;
    margin: 0 0 0.3em -0.06em;
  }
  &__description {
    margin: 0;
    padding-top: 5px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    position: relative;
    .line {
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 0;
      left: 0;
      transition: background-color $trs2;
      background-color: rgba(var(--item-bg), 1);
      opacity: 0.2;
    }
  }
  &__link {
    font-size: 24px;
    text-decoration: none;
    line-height: 1;
    margin-top: 21px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  @include xl-max {
    &__title {
      font-size: 5.7vw;
    }
  }
  @include lg-max {
    margin: 0;
    &__container {
      height: 230px;
    }
    &__link {
      font-size: 20px;
      line-height: 22px;
    }
  }
}

.contacts-form {
  margin-right: 8.33333%;
  display: flex;
  &__container {
    position: relative;
    max-width: 530px;
    height: 250px;
    margin: auto;
  }
  &__succes-message {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 32px;
  }
  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &.loading {
      pointer-events: none;
      .contacts-form-button {
        pointer-events: none;
        &__icon {
          opacity: 0;
        }
        &__loader {
          opacity: 1;
        }
      }
    }
  }
  &__title {
    font-size: 36px;
    margin-bottom: 15px;
    line-height: 0.9;
    font-family: $font-family-base;
    font-weight: 500;
  }
  &__input {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  &-button {
    opacity: 0.5;
    font-size: 18px;
    pointer-events: none;
    font-weight: 500;
    padding-right: 1.9em;
    line-height: 24px;
    margin: 21px 0 0 auto;
    overflow: visible;
    transition: color $trs2, opacity $trs1;
    color: rgba(var(--item-color), 1);
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    &__icon {
      color: inherit;
      display: block;
      width: 1.45em;
      position: absolute;
      right: 0;
      bottom: 0.4em;
      transition: transform $trs1, opacity $trs1;
    }
    &__loader {
      opacity: 0;
    }
    &.active {
      opacity: 1;
      pointer-events: all;
    }
    &.touch,
    &.hover {
      .contacts-form-button__icon {
        transform: translateX(0.2em);
      }
    }
  }
  @include xl-max {
    &__title {
      font-size: 1.9vw;
    }
  }
  @include lg-max {
    margin: 0;
    &__title {
      font-size: 1.9vw;
    }
    &__container {
      height: 230px;
      max-width: 480px;
    }
    &__succes-message {
      font-size: 28px;
    }
  }
}
.input__element[type="text"] {
  padding-right: 20px;
  padding-top: 9px;
  height: 40px;
  white-space: normal;
}
.input.focused .input__label[for="text"] {
  transform: translateY(-35px);
}
@include md-max {
  .contacts-info__container {
    height: 150px;
}
  .contacts-form__container {
    height: 280px;}
}
@media screen and (max-width: 500px) {
  .contacts-info__title {
    font-size: 28px;
  }
  .contacts-info__link {
    font-size: 16px;
  }
  .contacts-info__link:not(:last-child) {
    margin-right: 20px;
  }
  
.contacts-form__container {
  height: 250px;
}
  .contacts-form__title {
    font-size: 12px;
}
}
