@font-face {
	font-family: "Geometos";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/webfontkit/12573.woff2") format("woff2"),
		url("../fonts/webfontkit/12573.woff") format("woff");
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
