.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    transition: background-color $trs2;
    &__container {
        position: relative;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_scrollable {
        background-color: rgba(var(--item-bg-r), 0.8);
        backdrop-filter: blur(5px);
    }
    .mode-toggle {
        position: absolute;
        right: 62px;
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
        left: auto;
    }
    .lang-toggle {
        position: absolute;
        right: 136px;
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
    }
}

.nav-toggle {
    width: 50px;
    height: 50px;
    position: relative;
    margin-right: -10px;
    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 30px;
        left: 10px;
        //pointer-events: none;
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(var(--item-bg), 1);
            transition: $trs2;
        }
        &:nth-child(1) {
            top: 16px;
        }
        &:nth-child(2) {
            top: 24px;
            &:before {
                transform: translateX(15%) scaleX(0.7);
            }
        }
        &:nth-child(3) {
            bottom: 16px;
        }
    }
    &.hover,
    &.touch {
        span {
            &:nth-child(1),
            &:nth-child(3) {
                &:before {
                    transform: translateX(15%) scaleX(0.7);
                }
            }
            &:nth-child(2) {
                &:before {
                    transform: translateX(0) scaleX(1);
                }
            }
        }
    }
    &.disabled {
        span {
            &:nth-child(1),
            &:nth-child(3) {
                &:before {
                    transform: translateX(0) scaleX(1) !important;
                }
            }
        }
    }
}
.logo {
    &__link {
        display: block;
    }
    &__icon {
        display: block;
        height: 32px;
        transition: fill $trs2;
        fill: rgba(var(--item-bg), 1.0);
        //pointer-events: none;
    }
}

@media all and(max-width: 1440px) {
    .logo {
        &__icon {
            height: 26px;
        }
    }
}
@media screen and(max-width:576px) {
    .header {
        &__container {
            height: 70px;
        }
    }
    .logo {
        &__icon {
            height: 22px;
        }
    }
}
