.home {
    .container {
        display: flex;
        padding-top: 0;
        padding-bottom: 0;
    }
}
.m-slider {
    height: 100%;
    &-slide {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        &.active {
            pointer-events: all;
        }
    }
    &-pagination {
        position: fixed;
        width: 100%;
        bottom: 15px;
        left: 0;
        z-index: 5;
        &__container {
            height: 30px;
            display: flex;
            position: relative;
            overflow: hidden;
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 14px;
                width: 100%;
                height: 2px;
                background-color: rgba(var(--item-bg), 1);
                opacity: 0.2;
                z-index: -1;
                pointer-events: none;
                transition: background-color $trs2;
            }
        }
        &__link {
            height: 100%;
            display: block;
            flex: 1 1 100%;
            &.active {
                pointer-events: none;
            }
        }
        &__item {
            height: 2px;
            position: absolute;
            top: 14px;
            left: 0;
            background-color: rgba(var(--item-bg), 1);
            transition: background-color $trs2;
            pointer-events: none;
        }
    }
}
.fast-categories {
    &__container {
        height: calc(100% + 16px);
        margin: -8px;
    }
}

.fast-categories-block {
    height: 50%;
    padding: 8px;
    &__container {
        display: block;
        height: 100%;
        position: relative;
        display: flex;
        text-decoration: none;
        transition: $trs1;
        &.touch,
        &.hover {
            .fast-categories-block__bg {
                background-color: rgba(var(--item-bg), 1);
            }
            .label-item {
                .icon {
                    fill: rgba(var(--item-bg-r), 1);
                }
                &__title {
                    background-color: rgba(var(--item-bg), 1);
                }
            }
        }
    }
    &__bg {
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--item-bg-r), 1);
        transition: background-color $trs2;
        top: 0;
        left: 0;
    }
    .label-item {
        z-index: 2;
        margin: auto;
        width: 90%;
        .icon {
            transition: transform $trs3, fill $trs2;
        }
        &__title {
            background-color: rgba(var(--item-bg-r), 1);
            color: rgba(var(--item-bg-r), 1);
            opacity: 0;
            width: calc(100% + 0.5em);
        }
    }
    @include md-max {
        height: 33.33%;
    }
}

.project-preview {
    color: rgba(var(--item-bg), 1);
    transition: color $trs2;
    &-item {
        height: 100%;
        .cover {
            background-color: transparent;
        }
    }
    &__container {
        height: 100%;
        position: relative;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        z-index: 2;
        padding-bottom: 110px;
    }
    &__image {
        position: relative;
        z-index: 1;
    }
    &__link {
        margin-top: 5.5vh;
        color: rgba(var(--item-bg), 1);
        text-decoration: none;
        transition: color $trs2, letter-spacing $trs1;
        position: relative;
        font-weight: 300;
        .line {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            background-color: rgba(var(--item-bg), 1);
            transition: background-color $trs2;
        }
        &.touch,
        &.hover {
            letter-spacing: 0.1em;
            .line {
                transition: background-color $trs1;
                background-color: rgba(var(--item-bg-r), 1);
            }
        }
    }
    &__line {
        content: '';
        display: block;
        width: 65%;
        height: 1px;
        background-color: rgba(var(--item-bg), 1);
        transition: background-color $trs2;
    }
    &__title {
        line-height: 1.25;
        font-size: 163px;
        white-space: nowrap;
        padding-bottom: 19px;
        margin: 0 0 -0.25em -0.06em;
        pointer-events: none;
    }
    &__text {
        font-size: 38px;
        font-weight: 300;
        padding-top: 1vw;
        margin: 0 0 0 -0.05em;
    }
    .label-item {
        position: absolute;
        bottom: 0;
        left: 8px;
        font-size: 19px;
        &_graphic {
            height: 5.65em;
            .label-item__title {
                margin-bottom: 0em;
            }
        }
    }
    &__title,
    &__text {
        transition: color $trs2;
        color: rgba(var(--item-bg), 1);
    }
    @include xl-max {
        &__title {
            font-size: 8.5vw;
            padding-bottom: 1vw;
        }
        &__text {
            font-size: 2vw;
        }
        .label-item {
            font-size: 1vw;
        }
        &__content {
            padding-bottom: 5.8em;
        }
    }
    @include lg-max {
        @media screen and (max-height: 650px) {
            &__title {
                font-size: 7vw;
            }
            &__text {
                font-size: 1.75vw;
            }
        }
    }
    @include md-max {
        .label-item {
            // font-size: 2vw;
            font-size: 10px;
        }
        &__title {
            padding-bottom: 2vw;
            line-height: 1;
        }
        &__text {
            // font-size: 24px;
            font-size: 18px;
            // padding-top: 2vw;
        }
        &__line {
            width: 40%;
        }
        &__image {
            height: 50%;
        }
        &__content {
            height: 50%;
            justify-content: flex-start;
            padding-top: 20px;
        }
        &__link {
            margin: 0;
            position: absolute;
            right: 8px;
            bottom: 0;
        }
    }
    @include xs-max {
        &__content {
            padding-top: 15px;
            padding-bottom: 0;
        }
        &__title {
            // font-size: 9.5vw;
            pointer-events: all;
            padding-bottom: 3vw;
        }
        &__text {
            // font-size: 18px;
            // padding: 2.5vw 0 0 0;
        }
        &__link {
            font-size: 16px;
        }
        .label-item {
            font-size: 2.4vw;
        }
    }
}
.project-preview-item {
    display: block;
    position: relative;
    .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.home-logo {
    margin: auto;
    stroke-width: 0.3;
    fill: rgba(var(--item-bg), 1);
    stroke: rgba(var(--item-bg), 1);
    transition: fill $trs2, stroke $trs2;
    width: 768px;
    will-change: transform;
    @include xl-max {
        width: 40vw;
    }
    @include md-max {
        width: 60vw;
    }
    @include xs-max {
        width: 80%;
    }
}

@media screen and(max-width:576px) {
    .m-slider-pagination {
        bottom: 11px;
    }
}
//home-projects
.navigator-preview {
    .image {
        top: 10%;
        height: 80%;
    }
}
.eurasia,
.navigator {
    &-preview {
        .image.cover {
            transition: filter $trs2;
            img {
                object-fit: contain;
            }
        }
    }
}
@include xl-max {
    .eurasia-preview {
        .project-preview__title {
            font-size: 4.5vw;
        }
    }
}
