.projects {
    &-nav {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 30px;
      margin: 0 -1em -0.6em 0;
      transform: translateY(-0.15em);
      &__item {
        margin: 0 1em 0.6em 0;
      }
      &__link {
        text-decoration: none;
        text-transform: uppercase;
        line-height: 1;
        font-family: $font-family-second;
        padding-top: 0.25em;
        opacity: .25;
        transition: opacity $trs1out, color $trs2;
        &.touch,
        &.hover {
          opacity: 0.6;
        }
        &.nuxt-link-active {
          opacity: 1;
          pointer-events: none;
        }
      }
    }
    &__container {
      margin-top: 65px;
      position: relative;
    }
    @include xl-max {
      &-nav {
        font-size: 1.5vw;
      }
    }
    @include lg-max {
      &__container {
        margin-top: 50px;
      }
    }
    @include md-max {
      &-nav {
        font-size: 18px;
      }
      &__container {
        margin-top: 45px;
      }
    }
    @include xs-max {
      &-nav {
        font-size: 16px;
      }
      &__container {
        margin-top: 40px;
      }
    }
  }
  
  .projects-category {
    position: absolute;
    width: 100%;
    top: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    .row {
      justify-content: space-between;
      align-items: flex-start;
    }
    &.active {
      pointer-events: all;
      position: relative;
    }
    @include lg-min {
      .row {
        height: auto !important;
      }
    }
    @include md-max {
      .row {
        margin-bottom: -50px;
      }
    }
    @include xs-max {
      .row {
        margin-bottom: 0;
        height: auto !important;
      }
    }
  }
  
  .projects-block {
    position: relative;
    z-index: 1;
    opacity: 0;
    &__container {
      position: relative;
    }
    &__title {
      margin: 0;
      display: block;
      text-transform: uppercase;
      font-size: 36px;
      margin: -0.25em 0 0.3em 0;
    }
    &__description {
      margin: 0;
      color: rgba(var(--item-color), 1);
      opacity: 0.5;
      transition: color $trs2;
    }
    &__image {
      display: block;
      position: relative;
      margin-bottom: 20px;
      &:before {
        content: '';
        display: block;
      }
      .image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        img {
          transition: visibility $trs2,opacity $trs2, filter $trs2;
          filter: grayscale(100%);
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.4);
          opacity: 0;
          transition: $trs2;
        }
      }
      &.touch,
      &.hover {
        .image {
          img {
            filter: grayscale(0%);
          }
          &:after {
            opacity: 1;
          }
        }
        .projects-block-label {
          transition: 0;
          opacity: 1;
        }
      }
    }
    &-label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      text-transform: uppercase;
      font-family: $font-family-second;
      color: rgb(255, 255, 255);
      opacity: 0;
      transition: opacity $trs2;
      letter-spacing: 0.05em;
      font-size: 0.9rem;
      &__text {
        position: relative;
        .line {
          display: block;
          position: absolute;
          height: 2px;
          background-color: rgb(255, 255, 255);
        }
      }
    }
    &_type-1 {
      display: block;
      @include lg-min {
        .projects-block {
          &__text {
            position: absolute;
            width: auto;
            left: 100%;
            top: 0;
            padding-left: 20px;
            width: 72%;
          }
          &__image {
            margin: 0;
            &::before {
              padding-top: 60%;
            }
          }
        }
      }
    }
    &_type-2 {
      @include lg-min {
        .projects-block {
          &__image {
            &::before {
              padding-top: 160%;
            }
          }
        }
      }
    }
    &_type-3 {
      @include lg-min {
        margin-right: 50%;
        .projects-block {
          &__image {
            &::before {
              padding-top: 60%;
            }
          }
        }
      }
    }
    &_type-4 {
      @include lg-min {
        align-self: flex-end;
        .projects-block {
          &__image {
            &::before {
              padding-top: 83%;
            }
          }
        }
      }
    }
    &_type-5 {
      @include lg-min {
        margin-top: -75px;
        .projects-block {
          &__image {
            &::before {
              padding-top: 60%;
            }
          }
        }
      }
    }
    @include xl-max {
      &__title {
        font-size: 1.66vw;
      }
    }
    @include md-max {
      margin: 0 !important;
      position: absolute;
      &_type-1,
      &_type-3 {
        left: 0;
      }
      &_type-2,
      &_type-4 {
        right: 0;
      }
      &_type-2,
      &_type-3 {
        .projects-block__image {
          &::before {
            padding-top: 120%;
          }
        }
      }
      &__title {
        font-size: 24px;
      }
      &__image {
        &::before {
          padding-top: 60%;
        }
      }
    }
    @include xs-max {
      position: relative !important;
      top: auto !important;
      &:not(:last-child) {
        margin-bottom: 40px !important;
      }
      &_type-1,
      &_type-3 {
        .projects-block__image {
          &::before {
            padding-top: 100%;
          }
        }
      }
      &_type-2,
      &_type-4 {
        .projects-block__image {
          &::before {
            padding-top: 60%;
          }
        }
      }
      &__title {
        font-size: 22px;
      }
    }
  }