:root {
    --white: 255, 255, 255;
    --black: 0, 0, 0;
}
.wrapper {
    display: none;
}
.dark-theme {
    // --page-bg: rgba(var(--black), 1);
    --page-bg: var(--black);
    --item-bg: var(--white);
    --item-bg-r: var(--black);
    --item-color: var(--white);
    --item-color-r: var(--black);
    .wrapper {
        display: block;
    }
    .navigator-preview .image.cover {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
}

.light-theme {
    --page-bg: var(--white);
    --item-bg: var(--black);
    --item-bg-r: var(--white);
    --item-color: var(--black);
    --item-color-r: var(--white);
    .wrapper {
        display: block;
    }
}
