:root {
    --white: 255, 255, 255;
    --black: 0, 0, 0;
}
body {
    opacity: 0;
}
.dark-theme {
    // --page-bg: rgba(var(--black), 1);
    --page-bg: var(--black);
    --item-bg: var(--white);
    --item-bg-r: var(--black);
    --item-color: var(--white);
    --item-color-r: var(--black);
    body {
        opacity: 1;
    }
}

.light-theme {
    --page-bg: var(--white);
    --item-bg: var(--black);
    --item-bg-r: var(--white);
    --item-color: var(--black);
    --item-color-r: var(--white);
    body {
        opacity: 1;
    }
}
